@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html.lenis, html.lenis body {
  height: auto;
}


.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
html{
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
  
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.dark *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #A55DED;
}

.dark *::-webkit-scrollbar-thumb:hover {
  background-color: #7200EB;
}

.dark *::-webkit-scrollbar-thumb:active {
  background-color: #864BC0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #F57AA9;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f47dab;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f54e8e;
}

h1{
  font-display: swap;
}

ul li:nth-child(1) .navlink::before {
  content: "01";
  position: absolute;
  font-size: 12px;
  font-weight: bolder;
  top: 0;
  right: 8px;
}
ul li:nth-child(2) .navlink::before {
  content: "02";
  position: absolute;
  font-size: 12px;
  font-weight: bolder;
  top: 0;
  right: 8px;
}
ul li:nth-child(3) .navlink::before {
  content: "03";
  position: absolute;
  font-size: 12px;
  font-weight: bolder;
  top: 0;
  right: 8px;
}
ul li:nth-child(4) .navlink::before {
  content: "04";
  position: absolute;
  font-size: 12px;
  font-weight: bolder;
  top: 0;
  right: 7px;
}

li{
  font-size: larger;
}


.about::after {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  margin: 15px auto;
  height: 5px;
  border-radius: 10px;
  background-color: #F57AA9;
}
.dark .about::after {
  background-color: #a55ded;
}


.menubar {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  transform: rotate(0);
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menubar:nth-child(1){
  top: 0;
}
.menubar:nth-child(2),.menubar:nth-child(3){
  top: 50%;
}
.menubar:nth-child(4){
  top: 100%;
}
.opened:nth-child(2){
  transform: rotate(-45deg);
}
.opened:nth-child(3){
  transform: rotate(45deg);
}
/* styles.css or your CSS module */
.transition-opacity {
  transition: opacity 0.5s linear 0.25s;
}

.transition-transform {
  transition: transform 0.5s cubic-bezier(.4, 0, .2, 1) 0.25s;
}

.scale-in {
  opacity: 1;
  transform: scale(1);
}

.scale-out {
  opacity: 0;
  transform: scale(0);
}

.skill-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skill-container .x {
  opacity: 0;
  display: none;
  transition: opacity 0.6s ease-in;
}

.skill-container:hover .x {
  display: block;
  opacity: 1;
  position: absolute;
  top: -30px;
  padding: 1px 20px;
  background-color: black;
  color: white;
  left: 0; 
  right: 0;
  text-align: center;
  border-radius: 10px;
  margin-inline: auto; 
  width: fit-content;
}

.dark .skill-container:hover .x{
  background-color: white;
  color: black;
}

.active-theme {
  filter: invert(50%) sepia(70%) saturate(1200%) hue-rotate(-50deg)
    brightness(125%) contrast(100%) !important;
}
.dark .active-theme {
  filter: invert(36%) sepia(56%) saturate(650%) hue-rotate(230deg)
    brightness(80%) contrast(100%) !important;
}

.skill-container:hover .fill path {
  fill: #F3D2C1;
}
.skill-container:hover i {
  color: #F3D2C1;
}


.skill-container:hover .stroke path {
  stroke: #F3D2C1;
}

.dark .skill-container:hover .fill path {
  fill: #a55ded;
}
.dark .skill-container:hover i {
  color: #a55ded;
}

.dark .skill-container:hover .stroke path {
  stroke: #a55ded;
}

.dm-stack-cards {
  top: 15vh;
  position: sticky;
  transform-origin: top center;
}

.dm-stack-cards:nth-child(2) {
  transform: translateY(20px);
}
.dm-stack-cards:nth-child(3) {
  transform: translateY(40px);
}
.dm-stack-cards:nth-child(4) {
  transform: translateY(60px);
}
.dm-stack-cards:nth-child(5) {
  transform: translateY(80px);
}
